name: Build and deploy

on:
  push:
    branches:
      - main
  release:
    types:
      - created

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Publish
        if: success() && startsWith(github.ref, 'refs/tags/')'
        run: git config --global user.name "decentraland" && git config --global user.email "muna@decentraland.org" && git stash && echo "DCL_EDITOR_ROLLBAR_KEY=${{ env.DCL_EDITOR_ROLLBAR_KEY }}" >> .env && echo "DCL_EDITOR_SEGMENT_KEY=${{ env.DCL_EDITOR_SEGMENT_KEY }}" >> .env && npx vsce publish ${{ env.RELEASE_VERSION }} ${{ github.event.release.prerelease && '--pre-release' || '' }}
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
          DCL_EDITOR_SEGMENT_KEY: ${{ secrets.SEGMENT_KEY }}
          DCL_EDITOR_ROLLBAR_KEY: ${{ secrets.ROLLBAR_KEY }}
